body{
	background-color:black;
	margin:0;
	padding:0;
	text-shadow:0.2vmin 0.2vmin black;
	overflow-x:hidden;
}
*,
*::before,
*::after {
  box-sizing: none !important;
}
.logoimg{
	height:8vh;
	object-fit: cover;
	object-position: center;
	width:initial;
	position: fixed;
	top:12px;
	left:12px;
	z-index:3;
	border-radius: 50%;
	border:none;
	box-shadow:0.2vh 0.2vh 1vh rgba(0,0,0,1);
}
.nav{
	width:99.5vw;
	height:100vh;
	background-color: white;
	position: fixed;
	top:0;
	right:0;
	z-index: 2;
	box-shadow: 0 0 1vh rgba(0,0,0,0.5);
	transform:translate(95.5vw,0);
    transition: 0.4s;
	background-image: url("../assets/nav-t.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size:cover;
	background-position: center;
	font-family: "northwestbold";
	color:white;
	display:flex;
	justify-content: space-evenly;
	flex-direction: column;
}
.baricon{
	background-color:#a4161a;
	width:4vw;
	height: 8vh;
	padding-top: 1.5vh;
	position: fixed;
	top:0;
    right:0;
    z-index: 3;
}
.bar1{
	background-color: white;
	width:2.5vw;
	height: 0.5vh;
	margin-bottom:0.8vh;
	margin-top:0.8vh;
	margin-left: 0.75vw;
	transition: 0.4s;
}
.bar2{
	background-color: white;
	width:2.5vw;
	height: 0.4vh;
	margin-bottom:0.8vh;
	margin-top:0.8vh;
	margin-left: 0.75vw;
	transition: 0.4s;
}
.bar3{
	background-color: white;
	width:2.5vw;
	height: 0.4vh;
	margin-bottom:0.8vh;
	margin-top:0.8vh;
	margin-left: 0.75vw;
	transition: 0.4s;
}
#fb{
	color:white;
	text-shadow:0.1vmin0.1vmin black;
	box-shadow:0.1vmin 0.1vmin black;
	margin-top:30vh;
	font-size:3.8vh;
	border:3px solid white;
	height: 5.5vh;
	width: 5.5vh;
	border-radius: 50%;
	text-align: center;
    position:absolute;
	transition: ease-in-out 0.5s;
	line-height: 5vh;
	left:0.5vw;
}
#fb:hover{
    color:#3b5999;
    transform:scale(1.2);
    border:3px solid #3b5999;
}
#lin{
	color:white;
	text-shadow:0.1vmin 0.1vmin black;
	box-shadow:0.1vmin 0.1vmin black;
	font-size:3.5vh;
	margin-top:40vh;
	left:0.5vw;
	border:3px solid white;
	height: 5.5vh;
	width: 5.5vh;
	border-radius: 50%;
	text-align: center;
	line-height: 5vh;
    position:absolute;
    transition: ease-in-out 0.5s;
}
#lin:hover{
    color:#0077b5;
    transform:scale(1.2);
    border:3px solid #0077b5;
}
#mail{
	color:white;
	text-shadow:0.1vmin 0.1vmin black;
	box-shadow:0.1vmin 0.1vmin black;
	font-size:3.5vh;
	left:0.5vw;
	border:3px solid white;
	height: 5.5vh;
	width: 5.5vh;
	margin-top:50vh;
	border-radius: 50%;
	text-align: center;
	line-height: 5vh;
    position:absolute;
    transition: ease-in-out 0.5s;
}
#mail:hover{
    color:#dd4b39;
    transform:scale(1.2);
    border:3px solid #dd4b39;
}
.change .bar1 {
	-webkit-transform: rotate(-45deg) translate(-9px, 6px);
	transform: rotate(-45deg) translate(-9px, 6px);
  }
  
  .change .bar2 {opacity: 0;}
  .change .nav{
	  background-image:url("../assets/nav-t.jpg")
  }
  
  .change .bar3 {
	-webkit-transform: rotate(45deg) translate(-8px, -8px);
	transform: rotate(45deg) translate(-8px, -8px);
  }
.expand {
    transform: translate(0,0);
    -webkit-transform: translate(0,0);
}
.navlink{
	color:white;
	text-shadow:0.1vmin 0.1vmin black;
    text-align: center;
    margin-left: 5vw;
    font-size:8vh;
    display: block;
    text-decoration: none;
	transition: ease-in-out 0.5s;
	position: relative;
	bottom:6vh;
	text-transform:uppercase;
}
.navlink:hover{
    transform:scale(1.2);
    color:#a4161a ;
    text-decoration: none;
}
.head p{
	border-radius:5px !important;
}
@media screen and (max-width:1200px){
    .nav{
        width:100vw;
        transform: translate(100vw,0);
    }
    .baricon{
        width:15vw;
        height: 6vh;
		padding-top: 0.7vh;
    }
    .bar1{
		width:8vw;
		margin-left: 3vw;
    }
    .bar2{
		width:8vw;
		margin-left: 3vw;
    }
    .bar3{
		width:8vw;
		margin-left: 3vw;
    }
    .navlink{
        font-size:9vw;
        margin-top:2vh;
    }
    .expand {
        transform: translate(0,0);
        -webkit-transform: translate(0,0);
	}
	.change .bar1 {
		-webkit-transform: rotate(-45deg) translate(-9px, 1.1vh);
		transform: rotate(-45deg) translate(-4px, 1.1vh);
	  }
	.change .bar3 {
		-webkit-transform: rotate(45deg) translate(-8px, -1.1vh);
		transform: rotate(45deg) translate(-4px, -1.1vh);
	  }
	  .document{
		width:100vw;
		height:100vh;
		   overflow: hidden;
	}
}
@font-face {
	font-family: "linotte";
	src: url("../fonts/Linotte\ Regular.otf");
  }
@font-face {
	font-family: "bioliquid";
	src: url("../fonts/bioliquid-Regular.ttf");
  }
  @font-face {
	font-family: "northwestbold";
	src: url("../fonts/NorthwestBold-M8xx.otf");
  }
  ::-webkit-scrollbar {
	width: 0.5vw;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
	box-shadow: inset 0 0 0.5vw grey;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: rgb(14, 179, 9);
  }
  .document{
	  width:100vw;
	  height:100vh;
	  overflow: hidden;
  }
  #preloaded{
	  display:block;
  }
  #loaded{
	display:none;
  }
  .pre-loader{
	width:100vw;
	height:100vh;
	overflow: hidden;
  }
