body{
    background-image:url("about-back.jpg");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size:cover;
    font-family:"linotte";
    color:white;
    font-size:3vh;
}
section{
	text-align:center;
}
.head{
	font-family:"northwestbold";
	font-size:20vh;
	color:white;
	text-align: center;
}
.head p{
	border:1vh solid white;
	margin-top:8vh;
	width:70vw;
	margin-left:13vw;
	padding-bottom:5vh;
}  
.text{
    padding:0 20vmin 0 15vmin;
    text-align:justify;
}
iframe{
margin:15vmin;
width:30vw;
height: 50vw;
}
@media screen and (max-width:1200px){
    .head{
        font-family:"northwestbold";
        font-size:10vw;
        color:white;
        text-align: center;
    }
    .text{
        padding:10vmin;
    }
    body{
        width:100vw;
    }
    iframe{
        width:70vw;
        height: 80vw;
        }
}