body{
    background-color:white !important;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size:cover;
    font-family:"linotte";
    color:black !important;
    font-size:3vh;
    background-image:url("../placement-1.png");
    min-width:100vw;
}
.head{
	font-family:"northwestbold";
	font-size:10vh;
	color:white;
    text-align: center;
    display:flex;
	justify-content: center;
    align-items: baseline;
    text-align:center;
}
.head p{
    display:flex;
	justify-content: center;
    align-items: center;
	border:1vh solid white;
	padding-top:5vmin;
	padding-bottom:10vmin;
	width:70vw;
}  
.blogs{
    text-shadow:none !important;
    display: flex;
    flex-flow:row wrap;
    align-items: center;
    justify-content: center;
}
.box img{
    width:20vmin;
    height:20vmin;
    object-fit: cover;
    object-position: center;
    border-radius: 10vmin;
    position: absolute;
    box-shadow: 2px 2px 5px black;
}
.box{
    width:25vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:2vmin;
}
.text{
    width:20vw;
    text-align:justify;
    margin-top:10vmin;
    padding-top:12vmin;
    color:white;
    padding-left:2vmin;
    padding-right:2vmin;
    padding-bottom:2vmin;
    font-size:2.8vh;
    box-shadow: 2px 2px 5px black;
    background-image: linear-gradient(to left top, #26845c, #1e694c, #194f3c, #15362b, #101f1a);
}
.box:nth-child(3n+1) .text{
    background-image: linear-gradient(to left top, #26845c, #1e694c, #194f3c, #15362b, #101f1a);
}
.box:nth-child(3n+2) .text{
    background-image: linear-gradient(to right bottom, #370519, #4c0724, #630a2e, #7b0c39, #930f44);
}
.box:nth-child(3n) .text{
    background-image: linear-gradient(to left top, #0a6491, #064f72, #053b54, #052739, #01151f);
}
.readmore{
    color:#fca311;
}
@media screen and (max-width:1200px){
    .head{
        font-size:15vw;
        text-align: center;
        width:90vw;
    }
    .head p{
      margin-left:10vw;
      width:90vw;
    }
    body{
        width:100vw;
        font-size:5vw;
    }
    .box img{
        width:50vmin;
        height:50vmin;
        object-fit: cover;
        object-position: center;
        border-radius: 25vmin;
        position: absolute;
    }
    .box{
        width:90vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin:2vmin;
    }
    .text{
        width:90vw;
        margin-top:25vmin;
    padding-top:27vmin;
    }
}