body{
    background-image:url("");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size:cover;
    font-family:"linotte";
    color:white;
    font-size:3vh;
}
section{
	text-align:center;
}
.head{
	font-family:"northwestbold";
	font-size:10vh;
	color:white;
    text-align: center;
    display:flex;
	justify-content: center;
    align-items: baseline;
}
.head p{
	border:1vh solid white;
	padding-top:5vmin;
	padding-bottom:10vmin;
	width:70vw;
}  
@media screen and (max-width:1200px){
    .head{
        font-size:8vw;
        text-align: center;
        margin:0 10vw;
    }
    .head p{
      margin-left:0vw;
    }
    body{
        width:100vw;
        font-size:5vw;
    }
}