body{
	margin:0;
	padding-top:2vh;
	background: url(back.jpg);
	background-attachment: fixed;
	background-repeat: repeat;
	background-position: center;
	width:96vw;
}
section{
	text-align:center;
}
.head{
	font-family:"northwestbold";
	font-size:20vh;
	color:white;
	text-align: center;
	display:flex;
	justify-content: center;
	align-items: baseline;
	
}
.head p{
	border:1vh solid white;
	width:70vw;
	padding-top:10vmin;
	padding-bottom:15vmin;
}  
.head1{
	font-size: 300%;
	text-align: center;
	color: white;
	font-family:"linotte";
	text-shadow:1vh 1vh 2vh rgba(0,0,0,0.5);
}
.card{
	background-color:rgba(0,0,0,0.7);
	box-shadow:0vh 0vh 2vh rgba(0,0,0,0.5);
	margin-left:5vw;
	margin-bottom: 2vh;
	text-align: center;
	padding: 3vh 0vh ;
	width:19vw;
	font-family:"linotte";
	font-size:2.5vh;
	display:inline-block;
}
img{
	width:20vh;
	height:20vh;
	object-fit: cover;
    object-position: center;
	border-radius: 50%;
	border:1px solid white;
	box-shadow:0.2vh 0.2vh 1vh rgba(0,0,0,1);
	
} 
.card_fac p{
	color:white;
}
.card_fac a{
	color:white;
	text-decoration:none;
}
.card_fac{
	background-color:rgba(0,0,0,0.7);
	box-shadow:0vh 0vh 2vh rgba(0,0,0,0.5);
	margin-left:5vw;
	margin-bottom: 2vh;
	text-align: center;
	padding: 3vh 0vh ;
	width:19vw;
	font-family:"linotte";
	font-size:2.5vh;
	display:inline-block;
}
img{
	width:20vh;
	height:20vh;
	object-fit: cover;
    object-position: center;
	border-radius: 50%;
	border:1px solid white;
	box-shadow:0.2vh 0.2vh 1vh rgba(0,0,0,1);
	
} 
.card p{
	color:white;
}
.card a{
	color:white;
	text-decoration:none;
}
.mobile a i{
	margin-right:1vw;
}
  ul li a {
	width: 5vh;
	height: 5vh;
	background-color: #fff;
	text-align: center;
	font-size: 3vh;
	display: block;
	border-radius: 50%;
	position: relative;
	overflow: hidden;
	border: 3px solid #fff;
  }
  ul {
	display: flex;
	justify-content: space-around;
	width:100%;
	padding-inline-start:0px;
	  text-shadow:initial;
  }
  ul li{
	  list-style: none;
	  
  }
  ul li a i {
	margin-top:0.8vh;
	color: #262626;
	transition: .5s;
  }
  
  ul li a:hover i {
	color: #fff;
	transform: rotateY(360deg);
  }
  
  ul li a:before {
	content: "";
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 100%;
	background: #f00;
	transition: .5s;
  }
  
  ul li a:hover:before {
	top: 0;
  }
  
  ul li:nth-child(1) a:before{
	background: #3b5999;
  }
  
  ul li:nth-child(2) a:before{
	background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
  }
  
  ul li:nth-child(3) a:before {
	background: #0077b5;
  }
  
  ul li:nth-child(4) a:before {
	background: #dd4b39;
  }
  .links{
	padding-bottom: 3vmax;
    color:rgb(255, 145, 2);
    text-decoration:none;
    text-shadow: 1px 1px rgba(0,0,0,1);
}
ol{
	color: white;
	text-shadow: 1px 1px rgba(0,0,0,1);
	margin-left: 5vmax;
}
  .heading{
	  font-size:5vh;
	  width:85vw;
	  border-bottom: 2px solid white;
	  font-family:"northwestbold";
	  color:white;
	  margin-left:4vw;
	  text-align: initial;
  }
  .old-teams{
	  text-align: initial;
  }
  @media screen and (max-width:1200px){
	  .head{
		  font-size:15vw;
		  text-align: center;
		  margin:0 10vw;
	  }
	  .head p{
		margin-left:0vw;
	  }
	  .card{
		width:70vw;
		margin-left:0vw;
	}
	.card_fac{
		width:70vw;
		margin-left:0vw;
	}
	body{
		width:100vw;
	}
	.head p{
		width:initial;
	}  
	.heading{
		font-size:10vw;
		width:85vw;
		border-bottom: 2px solid white;
		font-family:"northwestbold";
		color:white;
		margin-left:4vw;
		text-align: initial;
	}
  }

  .card_fac ul li:nth-child(1) a:before{
	background: #3b5999;
  }
  
  .card_fac ul li:nth-child(2) a:before{
	background: #dd4b39;
  }
ol{
	margin-left: 2vmax;
	font-size: 120%;
}