body{
	margin:0;
	padding:0;
  overflow-x:hidden;
  color:white;
  width:100vw;
  background-image:url("event.jpg");
  background-attachment: fixed;
  background-size:cover;
  background-repeat:repeat;
  background-position: center;
  font-family:"linotte";
  line-height: 1.5;
}
b{
  text-transform: uppercase;
  text-decoration: underline;
}
section{
	text-align:center;
}
.head{
	font-family:"northwestbold";
	font-size:20vh;
	color:white;
	text-align: center;
	display:flex;
	justify-content: center;
  align-items: baseline;
  text-transform: uppercase;
	
}
.head p{
	border:1vh solid white;
	width:70vw;
	padding-top:10vmin;
	padding-bottom:15vmin;
}  
.secondpage{
	width:80vw;
  margin-left:10vw;
}
.heading{
	font-size:250%;
  border-bottom:1px solid white;
  font-family:"northwestbold";
  text-transform: uppercase;
	}
.subhead{
	font-size:225%;
	font-weight:bold;
  margin-left:10vw;
  font-family:"northwestbold";
  text-transform: uppercase;
}
.thirdpage{
	min-height:100vh;
	width:80vw;
	margin-left:10vw;
}
.talk{
	width:70vw;
  margin-left:5vw;
  background-color:rgba(0, 0, 0,0.8);
	box-shadow:0px 0px 10px rgba(255, 255, 255,0.5);
	margin-bottom:5vh;
}
.poster{
	width:7vmax;
	margin:8px 8px 0vmax 8px;
}
.aboutposter{
	margin-left:8vmax;
	position:absolute;
	width:60vw;
	transform:translate(0,-10vmax);
}
.slideshow-container{
	width:60vw;
	margin-left:10vw;
	overflow:hidden;
}
/* Hide the images by default */
.mySlides{
  display: none;
  text-align:center;
}
.mySlides img{
	width:60vw;
  height:30vw;
  object-fit:cover;
  object-position:center;
}

/* Next & previous buttons */
.prev{
  cursor: pointer;
  color: white;
  font-weight: bold;
  font-size: 5vmax;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  position:relative;
  bottom:20vw;
  
}
.next{
	cursor: pointer;
  color: white;
  font-weight: bold;
  font-size: 5vmax;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  position:relative;
  bottom:20vw;
  left:54.5vw;
}
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a white background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.5);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  position:relative;
  bottom:11vw;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity:0.4;}
  to {opacity:1;}
}

@keyframes fade {
   from {opacity:0.4;}
  to {opacity:1;}
}
.fourthpage{
	min-height:100vh;
	width:80vw;
	margin-left:10vw;
}
.uposter{
	width:15vmax;
	margin:8px 30vw 0vmax 30vw;
}
.uaboutposter{
	text-align:initial;
	width:65vw;
	margin-left:2.5vw;
	padding-bottom:2.5vw;
}
@media screen and (max-width:1200px){
  body{
    line-height: 1;
  }
  .head{
    font-size:15vw;
    text-align: center;
    margin:0 10vw;
  }
  .head p{
  margin-left:0vw;
  }
  .aboutposter{
    width:50vw;
    transform:translate(0,-10vmax);
  }
  .next{
    left:50vw;
  }
  .uaboutposter a{
    color:darkred;
  }
}
