/* HTML Tags */
body{
  background-image:url("faculty.jpg");
  background-position: right center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size:cover;
  font-family:"linotte";
}
h1{
  text-align: center;
  font-size: 4rem ;
  line-height: 2 ;
  margin-bottom: 60px ;
  color:white;
  font-family: "northwestbold";
}

hr{
  width : 60% ;
  position: relative ;
  top : -55px ;
  color:white;
}

p{
  line-height: 0.4;
}

th {
  padding: 20px ;
}

/* classes */

.btn{
  margin-left: 10px ;
}
.container{
  display:flex;
  flex-flow:row wrap;
  justify-content: space-between;
  align-items: center;
}
.card{ 
box-shadow: 0 5px 10px rgba(0,0,0,0.5);
position: relative;
margin: 40px auto ;
transform: scale(1);
background-color:rgba(255,255,255,0.5) !important;
transition: 0.4s;
width:32vw;
text-shadow:initial;
}

.card-img {
  border-radius: 50% ;
  width: 10rem;
  height : 10rem ;
  transform:scale(0.8);
  object-position: center;
  object-fit: cover;
}

.card:hover{
  transform: scale(1.1);
}

.png{
  width : 90px ;
  height:95px ;
}
.modal-content{
  text-shadow:initial;
}
@media screen and (max-width:1200px){

  .card{
    width:70vw;
  }
}
